<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hu.app.mapper.BoardMapper">

	<insert id="setWrite" parameterType="kr.hu.app.bean.BoardBean" useGeneratedKeys="true" keyProperty="board_no">
  		<selectKey keyProperty="board_no" resultType="int" order="BEFORE">
  			SELECT SEQ_BOARD.NEXTVAL FROM DUAL
  		</selectKey>
	  	INSERT INTO gc_tbl_board 
	  		(board_no, title, user_no, content) 
	    VALUES 
	    	(#{board_no},#{title},#{user_no},#{content})
  </insert>
  
	<select id="listPage" resultType="kr.hu.app.bean.BoardBean" parameterType="kr.hu.app.bean.Criteria">
		SELECT  board_no, 
		        title, 
		        content,
		        user_no, 
		        reg
		 FROM ( 
		        SELECT board_no, 
		               title, 
		               content, 
		               user_no, 
		               reg, 
		               ROW_NUMBER() OVER(ORDER BY board_no DESC) AS RNUM
		         FROM gc_tbl_board
		         where 1 = 1
		         	<include refid="search"></include>
		                       ) MP
		WHERE RNUM between #{rowStart} AND #{rowEnd}
		ORDER BY board_no DESC
	</select>
	<!--  게시물 총 개수 -->
	<select id="listCount" resultType="int">
		SELECT COUNT(board_no)
		FROM gc_tbl_board
		WHERE 1=1
	<include refid="search"></include>	
		   AND board_no > 0	
	</select>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">AND TITLE LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">AND CONTENT LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'w'.toString()">AND user_no LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'tc'.toString()">AND (TITLE LIKE '%' || #{keyword} || '%') or (CONTENT LIKE '%' || #{keyword} || '%')</if>
		</if>
	</sql>
	<select id="read" resultType="kr.hu.app.bean.BoardBean" parameterType="int">
		SELECT	board_no
			  , title
			  , content
			  , user_no
			  , reg
		 FROM gc_tbl_board
		 WHERE board_no = #{board_no}
	</select>
	
	<update id="update" parameterType="kr.hu.app.bean.BoardBean">
		UPDATE gc_tbl_board
		   SET title    =   #{title},
		   	   content  =   #{content}
		 WHERE board_no = #{board_no} 
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE 
		  FROM gc_tbl_board
		 WHERE board_no = #{board_no}
	</delete>
	
	<insert id="insertFile" parameterType="hashMap">
		INSERT INTO gc_tbl_file(
			FILE_NO,
			board_no,
			ORG_FILE_NAME,
			STORED_FILE_NAME,
			FILE_SIZE
		)VALUES(
			SEQ_FILE.NEXTVAL,
			#{board_no},
			#{ORG_FILE_NAME},
			#{STORED_FILE_NAME},
			#{FILE_SIZE}
		)
    </insert>
    
    <!-- 첨부파일 조회 -->
	<select id="selectFileList" parameterType="int" resultType="hashMap">
		SELECT FILE_NO,
			   ORG_FILE_NAME,
			   ROUND(FILE_SIZE/1024,1) AS FILE_SIZE
		  FROM gc_tbl_file
		 WHERE board_no = #{board_no}
		   AND DEL_GB = 'N'
	</select>
	
    <!-- 첨부파일 다운 -->
	<select id="selectFileInfo" parameterType="hashMap" resultType="hashMap">
		SELECT 
			STORED_FILE_NAME,
			ORG_FILE_NAME
		FROM gc_tbl_file
		WHERE FILE_NO = #{FILE_NO}
	</select>
</mapper>