@charset "UTF-8";
body {
	font-size: 12px;
	margin: 0;
	padding: 0;

}

#top {
		background-color: #5dcc61;
		padding: 5px 10px;
		height: 60px;
}

#top a {
		font-weight: bold;
		text-decoration: none;
		color: black;
}

#title {
	font-size: 36px;
	font-weight: bolder;
	padding-left: 15px;
	padding-top: 5px;
	float: left;
}

#info {
	padding-top: 40px;
	float: right;
}

#sidebar {
	height: 100%; 
	width: 160px; 
	position: fixed; 
	left: 0;
	background-color: deepskyblue;
	padding-top: 20px;
}

#sidebar ul {
	text-align: center;
}

#sidebar ul {
	display: inline;
	margin-left: 0;
	list-style:none;
	padding: 0;
}

#sidebar li a { 
		padding: 10px; 
		display: block;
		text-decoration: none;
		}

#container {
		width: 200px;
		margin: 0 auto;
		padding: 0 0;
		text-align: left;
}	
