@charset "UTF-8";
html, body {
      		height: 100%;
      		margin: 0; 
      		padding: 0;
      		}

#container {text-align: center;}

#title {
		padding: 50px 0px;
		background-color: #5dcc61;
		text-align: center;
		}
		
#side {
		float: left;
		width: 15%;
		text-align: center;
		background-color: deepskyblue;
		height:100%; 
		}	
ul { 
	list-style:none;
	padding: 0;
	}
li a { 
		padding: 10px; 
		display: block;
		text-decoration: none;
		}
#middle { height: 100%;}		

	